<head>
<link href="../../../assets/css/style.css" rel="stylesheet" type="text/css">
<!-- Bootstrap Core CSS -->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<div style="margin-top: 50px;" *ngIf="!name; else forminfo">
  <form  [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="form-signin">
        <h1>Post News Here</h1>

        <label>Name
          <input class="form-control" type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>

        <br>
         <label>News
          <textarea class="form-control" formControlName="description"></textarea>
        </label>
        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 1 and 2000 characters.</div>

        <br>
        <label for="validate">Minimum of 3 Characters</label>
        <br>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On

        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>


<ng-template #forminfo style="margin-top: 50px;">
  <div class="form-container">
    <div class="form-signin">
      <h1> {{ confirmMessage }} 
        {{ thedate }}
      </h1>     
    </div>
  </div>
</ng-template>

<div *ngIf="!name; else showpost">
</div>

<ng-template #showpost>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Username: {{ name }}</strong> <span class="text-muted"></span>
          </div>
            <div class="panel-body">
              {{ description }}
            </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div>
  </div>
</ng-template>