<head>


 <!-- Bootstrap Core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../../assets/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<style>
        body {
            background-color: #122f4a;
        }
        .panel-body {
            background-color: #122f4a;
        }
        /* .panel-default{
            background-color: #122f4a;
        }*/
        .panel-heading {
            background-color: #122f4a;
            color: #122f4a;
        }
        .panel-heading h4{
            color: #122f4a;
        }
        .panel {
            background-color: #122f4a;
        }
    </style>
</head>
<body>

    <!-- Header Carousel -->
    <header style="margin-top: -150px; overflow: hidden;">

  
<img class="img-responsive" width="100%" src="../../../assets/images/Safe_Community_Banner.jpg">
    </header>
    <div class="col-lg-12"></div>
    <!-- Page Content -->
    <div class="container">

    

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                
                <h1 class="page-header">
                    Latest News Making Headlines
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>'No one will say Comrade Cyril is capitalist royalty' - Sisulu</h4>
                    </div>
                    <div class="panel-body">
                        <p>Hartbeespoort – ANC presidential candidate Lindiwe Sisulu has rubbished leaders who have dubbed her ANC "royalty" and say she thinks she’s better than some of her comrades.
                            <br>
                            Sisulu told News24 ahead of her fundraising gala dinner in Hartbeespoort this week that members were being malicious and this was nothing more than "pull her down syndrome" at play.
                            <br>
                            Sisulu is the daughter of struggle veterans Walter and Albertina Sisulu.</p>
                        <a href="https://www.news24.com/SouthAfrica/News/no-one-will-say-comrade-cyril-is-capitalist-royalty-sisulu-20171110" class="btn btn-default" target="_blank">Read Full Article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Cape Town water crisis: 7 myths that must be bust</h4>
                    </div>
                    <div class="panel-body">
                        <p>One of South Africa's biggest cities, Cape Town, is gripped by a rising panic. People are haunted by the idea that they may soon have to queue for water, carefully rationed out by local authorities under the watchful eye of the army.
                            <br/>
                            But these doomsday scenarios need to be tempered. It's true that the first step to getting people motivated to save water is to create the "impression of a crisis". In Cape Town, however, this impression is being blown out of proportion by a number of myths that are perpetuated in social and popular media.
                        </p>
                        <a href="https://www.news24.com/Analysis/cape-town-water-crisis-7-myths-that-must-be-bust-20171110" class="btn btn-default" target="_blank">Read Full Article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Robber swept away by river as he flees from police</h4>
                    </div>
                    <div class="panel-body">
                        <p>Durban – A robbery suspect is still at large after he was swept away by the Umtamvuna River as he fled from police, police said on Thursday.
                        <br/>
                            According to spokesperson Colonel Thembeka Mbhele, the suspect and another man attacked a family in their home in First Street, Port Edward, during the early hours of Wednesday morning.
                        </p>
                        <a href="https://www.news24.com/SouthAfrica/News/robber-swept-away-by-river-as-he-flees-from-police-20171109" class="btn btn-default" target="_blank">Read Full Article</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Sport</h2>
            </div>
            <div class="col-md-4 col-sm-6 panel-default">
                    <div class="panel-heading">
                            <h4>Robber swept away by river as he flees from police</h4>
                        </div>
                <a href="https://cdn.24.co.za/files/Cms/General/d/6705/ae174af9c331481faaae753027f67288.jpg">
                    <img class="img-responsive img-portfolio img-hover" width="100%" src="https://cdn.24.co.za/files/Cms/General/d/6705/ae174af9c331481faaae753027f67288.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 panel-default">
                    <div class="panel-heading">
                            <h4>Manchester United fans tell Jose Mourinho what to do in January transfer window</h4>
                        </div>
                <a href="https://cdn.24.co.za/files/Cms/General/d/6705/ae174af9c331481faaae753027f67288.jpg">
                    <img class="img-responsive img-portfolio img-hover"  src="https://i2-prod.manchestereveningnews.co.uk/incoming/article13781983.ece/ALTERNATES/s458/GettyImages-862878676.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 panel panel-default">
                    <div class="panel-heading">
                            <h4>Robber swept away by river as he flees from police</h4>
                        </div>
                <a href="https://cdn.24.co.za/files/Cms/General/d/6705/ae174af9c331481faaae753027f67288.jpg">
                    <img class="img-responsive img-portfolio img-hover"  src="https://cdn.24.co.za/files/Cms/General/d/6705/ae174af9c331481faaae753027f67288.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Modern Business Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v3.3.7</strong>
                    </li>
                    <li>jQuery v1.11.1</li>
                    <li>Font Awesome v4.2.0</li>
                    <li>Working PHP contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>17 HTML pages</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

