<head>


 <!-- Bootstrap Core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../../assets/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<style>
        body {
            background-color: #122f4a;
        }
        .panel-body {
            background-color: #122f4a;
        }
        /* .panel-default{
            background-color: #122f4a;
        }*/
        .panel-heading {
            background-color: #122f4a;
            color: #122f4a;
        }
        .panel-heading h4{
            color: #122f4a;
        }
        .panel {
            background-color: #122f4a;
        }
        .theCenter {
            margin-top: auto;
            margin-bottom: auto;
        }
        .sportsStyles h2 p{
            color:#04090F;
        }
    </style>
</head>
<body>

    <!-- Header Carousel -->
    <header style="margin-top: -150px; overflow: hidden;">

  
<img class="img-responsive" width="100%" src="../../../assets/images/Safe_Community_Banner.jpg">
    </header>
    <div class="col-lg-12"></div>
    <!-- Page Content -->
    <div class="container">

    

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                    <h1 class="page-header" style="margin-bottom: 0px;">
                            Weather
                    </h1>
<div class="row theCenter" style="background-color: #122f4b">
        
    <div class="col-md-4" style="padding: 50px;">
        <!-- weather widget start --><a target="_blank" href="http://www.booked.net/weather/cape-town-18075"><img src="https://w.bookcdn.com/weather/picture/3_18075_1_1_137AE9_330_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=25137"  alt="booked.net"/></a><!-- weather widget end -->
    </div>

    <div class="col-md-4" style="padding: 50px;">
        <!-- weather widget start --><a target="_blank" href="http://www.booked.net/weather/durban-19485"><img src="https://w.bookcdn.com/weather/picture/3_19485_1_1_137AE9_330_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=25137"  alt="booked.net"/></a><!-- weather widget end -->
    </div>

    <div class="col-md-4" style="padding: 50px;">
    <!-- weather widget start --><a target="_blank" href="http://www.booked.net/weather/johannesburg-19057"><img src="https://w.bookcdn.com/weather/picture/3_19057_1_1_137AE9_330_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=25137"  alt="booked.net"/></a><!-- weather widget end -->
    </div>
</div>
                
                <h1 class="page-header">
                    Latest News Making Headlines
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>'No one will say Comrade Cyril is capitalist royalty' - Sisulu</h4>
                    </div>
                    <div class="panel-body">
                        <p>Hartbeespoort – ANC presidential candidate Lindiwe Sisulu has rubbished leaders who have dubbed her ANC "royalty" and say she thinks she’s better than some of her comrades.
                            <br>
                            Sisulu told News24 ahead of her fundraising gala dinner in Hartbeespoort this week that members were being malicious and this was nothing more than "pull her down syndrome" at play.
                            <br>
                            Sisulu is the daughter of struggle veterans Walter and Albertina Sisulu.</p>
                        <a href="https://www.news24.com/SouthAfrica/News/no-one-will-say-comrade-cyril-is-capitalist-royalty-sisulu-20171110" class="btn btn-default" target="_blank">Read Full Article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Cape Town water crisis: 7 myths that must be bust</h4>
                    </div>
                    <div class="panel-body">
                        <p>One of South Africa's biggest cities, Cape Town, is gripped by a rising panic. People are haunted by the idea that they may soon have to queue for water, carefully rationed out by local authorities under the watchful eye of the army.
                            <br/>
                            But these doomsday scenarios need to be tempered. It's true that the first step to getting people motivated to save water is to create the "impression of a crisis". In Cape Town, however, this impression is being blown out of proportion by a number of myths that are perpetuated in social and popular media.
                        </p>
                        <a href="https://www.news24.com/Analysis/cape-town-water-crisis-7-myths-that-must-be-bust-20171110" class="btn btn-default" target="_blank">Read Full Article</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Robber swept away by river as he flees from police</h4>
                    </div>
                    <div class="panel-body">
                        <p>Durban – A robbery suspect is still at large after he was swept away by the Umtamvuna River as he fled from police, police said on Thursday.
                        <br/>
                            According to spokesperson Colonel Thembeka Mbhele, the suspect and another man attacked a family in their home in First Street, Port Edward, during the early hours of Wednesday morning.
                        </p>
                        <a href="https://www.news24.com/SouthAfrica/News/robber-swept-away-by-river-as-he-flees-from-police-20171109" class="btn btn-default" target="_blank">Read Full Article</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Portfolio Section -->
        <section style="background-color: #122F4A; width: 100%; margin: 0 auto; margin-left: auto; margin-right: auto;">
        <div class="row theWidth" style="background-color: #122F4A;">
            <div class="col-lg-12">
                <h2 class="page-header">Latest Sports News</h2>
            </div>
        <div *ngFor="let sportpost of sportposts.articles">
            <div class="col-lg-4 col-md-4 col-sm-6 panel-default ">
                    <div class="panel-heading">
                            <h2 style="color: #04090F;">{{ sportpost.title }}</h2>
                            <p style="font-size: 14px; font-style: italic; color: #808080;">{{ sportpost.author }}</p>
                            <h6 style="color: grey;">{{ sportpost.publishedAt }} </h6>
                            <p style="color: #04090F;"> {{ sportpost.description }} </p>
                        </div>
                <a href="{{ sportpost.url }}" target="_blank">
                    <img class="img-responsive img-portfolio img-hover " width="100%"  src="{{ sportpost.urlToImage }}" alt="">
                </a>
                
            </div>

        </div>
        </div>

        </section>
        <!-- .row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Safe_Community 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

