/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body {
    background-color: #122f4a/*#e8e8e8;*/;
    color: black;
    font-family: 'Century Gothic';
}

h1, h2, h3, h4, h5, h6 {
    color: lightgrey;
}

p {
    color: white;
}

ul li {
    color: rgba(255, 255, 255, 0.7);
}